@keyframes slideup {
    from {top: 100px;}
    to {top: 0px;}
}
body{
    width: 1250px;
    overflow-x: hidden;
    border-style: double;
    border-width: 5px;
    margin: 1px;
}
header{
    width: 1250px;
    height: 160px;
    background-color: #c2a78d7f;
    
}
.photo{
    float: left;
    width: 136px;
    height: 136px;
    margin: 10px;
    border-radius:50%;
    border-style: dashed;
}
.name{
    height: 100px;
    width: 500px;
    display: inline-block;
    margin: 37px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}
.contact{
    margin: 10px;
    height: 140px;
    float: right;
    display: block;
    font-family: 'Montserrat', sans-serif;

}
.cpdetails{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.cmdetails{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.sidebar{
    float: left;
    width: 350px;
    height: 680px;
    overflow: hidden;
    position: relative;
    animation-name: slideup;
    animation-duration: 3s;  
    animation-fill-mode:backwards;
    transition: transform .3s;

}
.about{
    width: 325px;
    margin: 10px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    transition: transform .3s;
    
}
.about:hover {
    transform: scaleY(1.1);
    border-radius: 25px;
  }
.certifications{
    width: 325px;
    margin: 10px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    transition: transform .3s;
    
}
.certifications:hover {
    transform: scaleY(1.1);
    border-radius: 25px;
  }
.home{
    width: 900px;
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    animation-name: slideup;
    animation-duration: 3s;  
    animation-fill-mode:backwards;
    transition: transform .3s;
}
.imagebg {
    margin-top: 166px;
    margin-left: 6px;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 1250px;
    height: 700px;
}
.homelhs{
    width: 420px;
    height: 665px;
    margin: 20px;
    margin-right: 10px;
    margin-left: 40px;
    z-index: 1
}
.educontent{
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    transition: transform .3s;
}
.educontent:hover {
    transform: scaleY(1.1);
}
.eduline{
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    position: relative;
    animation-name: educationline;
    animation-duration: 3s;  
    animation-fill-mode:forwards;
    z-index: 1;
    position: absolute;
    margin: 10px;
    margin-top: 0px;
}
@keyframes educationline {
    to {top: 0px;}
    from {top: 650px;}
}
.softskill{
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    transition: transform .3s;
}
.softskill:hover {
    transform: scaleY(1.1);
}
.progressbar{
    width: 350px;
    background-color: #464646;
    border-radius: 20px;
    border-style: dotted;
    border-width: 2px;
}
  
.bar {
    height: 17px;
    background-color: #cfc0bd;
    text-align:end;
    color: #464646;
    border-radius: 20px;
}

.languages{
    width: 60%;
    font-family: 'Varela Round', sans-serif;
    transition: transform .3s;
}
.languages:hover {
    transform: scaleY(1.1);
}
.homerhs{
    width: 420px;
    height: 645px;
    margin: 20px;
    margin-left: 40px;
    z-index: 1;
}
.awards{
    width: 400px;
    transition: transform .3s;
}
.awards:hover {
    transform: scaleY(1.1);
}
.technicalskills{
    padding-top: 11px;
    font-family: 'Varela Round', sans-serif;
    transition: transform .3s;
}
.technicalskills:hover {
    transform: scaleY(1.1);
}
.techprogress{
    width: 350px;
    background-color: #464646;
    border-radius: 20px;
    border-style: dotted;
    border-width: 2px;
} 
.techbar {
    height: 17px;
    background-color: #cfc0bd;
    text-align:end;
    color: #464646;
    border-radius: 20px;
}
.socialmedia{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.linkedin{
    width: 100px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: transform .3s;
}
.linkedin:hover {
    transform: scale(1.1);
}
.twitter{
    transition: transform .3s;
}
.twitter:hover {
    transform: scale(1.2);
}
.github{
    transition: transform .3s;
}
.github:hover {
    transform: scale(1.2);
}